// Navigation
nav.navbar.navbar-dark.navbar-fixed-top.bg-inverse(role='navigation')
  button.navbar-toggler.hidden-lg-up.pull-xs-left(type='button', data-toggle='collapse', data-target='#collapsing-navbar')
    | ☰
  a.navbar-brand.pull-xs-right.pull-lg-left(href='#') WhereU @ Ninja?
  #collapsing-navbar.collapse.navbar-toggleable-md
    ul.nav.navbar-nav.pull-lg-right
      li.nav-item
        a.nav-link(href='#')
          span.sr-only (current)
      if user
        li.nav-item.dropdown.nav-item-first-item
          a.nav-link.dropdown-toggle(data-target='#', href='#', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
            span.fa.fa-user.fa-fw(aria-hidden="true")
            span.name #{user.profile.displayName}
          .dropdown-menu(aria-labelledby='Preview')
            a.dropdown-item(href='#') Profile
            a.dropdown-item(href='/logout') Sign Out
      else
        li.nav-item.nav-item-first-item        
          a.nav-link(href='#' onclick="signin()")
            span.fa.fa-sign-in.fa-fw(aria-hidden="true") 
            | Sign In
      if user
        li.nav-item.dropdown
          a.nav-link.dropdown-toggle(data-target='#', href='#', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') My Ninjas
          ul.dropdown-menu
            if user.ninjas
              each ninja in user.ninjas
                li
                  a.dropdown-item(href='/pirate/' + ninja.id)
                    span.name #{ninja.name}
              else
                li
                  a(href='#') No Ninjas
      if user
        li.nav-item.dropdown.hidden-lg-up
          a.nav-link.dropdown-toggle(data-target='#', href='#', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') My Pirates
          ul.dropdown-menu
            li
              a.dropdown-item(href='#') No Pirates Yet
      li.nav-item.dropdown
        a.nav-link.dropdown-toggle(data-target='#', href='#', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Help
        ul.dropdown-menu
          li
            a.dropdown-item(href='#') About
          li
            a.dropdown-item(href='#') Contact      

  script(src="https://cdn.auth0.com/js/lock-9.2.js")
  script(src='//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js')
  script.
    var lock = new Auth0Lock('#{env.AUTH0_CLIENT_ID}', '#{env.AUTH0_DOMAIN}');
    function signin() {
      lock.show({
          callbackURL: '#{env.AUTH0_CALLBACK_URL}'
        , responseType: 'code'
        , authParams: {
          scope: 'openid name email picture'
        }
      });
    }
