extends layout

block content
    script(src='/scripts/bootstrap-slider.js')
    script(src='/scripts/pirate.js')
    .container
      .row
        .col-lg-2.sidebar
          ul.nav.nav-sidebar
            if viewModel.ninjas
              each ninja in viewModel.ninjas
                li
                  a(href='/pirate/' + ninja.id) #{ninja.name}

        .col-lg-9.main
          h2.sub-header My Map
          #map

          h2.sub-header Time Range
          input#timeSlider(type='text')

          h2 User ID: #{user.id}
          h2.sub-header Activities
          #whereubeen.table-responsive
          table#whereubeen.table.table-responsive.table-striped
            tbody
              tr
                th Longitude
                th Latitude
              each loc in viewModel.locations
                tr
                  td= loc.lat
                  td= loc.long

    script(src='//maps.googleapis.com/maps/api/js?key=AIzaSyCKJnJars0xRRUHCtbzBgTG7TWMQLk_rYc')
    script(type='text/javascript').
      $(document).ready(function(){
        var slider = new Slider("#timeSlider", { min: 0, max: 50, value: [0, 50], focus: true });
      });
      var locations = !{viewModel.stringifiedLocations};
      var mapModule = MapModule.initialize(document.getElementById('map'), locations);
